@charset "UTF-8";

@page {
  @top-left {
    background: #fbc847;
    content: counter(page);
    height: 1cm;
    text-align: center;
    width: 1cm;
  }
  @top-center {
    background: #fbc847;
    content: "";
    display: block;
    height: 0.05cm;
    opacity: 0.5;
    width: 100%;
  }
  @top-right {
    content: string(heading);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  tbody::after {
    content: "";
    display: block;
    page-break-inside: avoid;
    page-break-before: always;
    page-break-after: always;
  }

  /* ... the rest of the rules ... */
}
@page :blank {
  @top-left {
    background: none;
    content: "";
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
}

@page no-chapter {
  @top-left {
    background: none;
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
}
@page :first {
  background-size: cover;
  margin: 0;
}

@page chapter {
  background: #fbc847;
  margin: 0;
  @top-left {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
}
html {
  color: #393939;
  font-family: Fira Sans;
  font-size: 9pt;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}
html body h1 {
  color: #fbc847;
  font-size: 29pt;
  margin: 0;
  page: no-chapter;
  width: 100%;
}
html body h2,
html body h3,
html body h4 {
  color: black;
  font-weight: 400;
}
html body h2 {
  break-before: always;
  font-size: 28pt;
  string-set: heading content();
}
html body h3 {
  font-weight: 300;
  font-size: 15pt;
}
html body h4 {
  font-size: 13pt;
}

html body hr {
  border-bottom: solid 2px #10b158;
  width: 100%;
  border-top: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

html body article .header-top {
  width: 100%;
  display: inline-block;
  position: relative;
  /* overflow-x: hidden; */
}

article {
  padding: 50px;
}

.header-top {
  width: 100%;
  /* display: inline-block; */
  position: relative;
  /* overflow-x: hidden; */
}
.header-top h1 {
  position: absolute;
  text-align: center;
  color: #10b158;
  top: 0px;
}
.header-top .logo {
  text-align: left;
  position: relative;
  z-index: 9999;
}

.header-top .equifax-logo {
  text-align: right;
  position: absolute;
  z-index: 9999;
  right: 0;
  top: -8px;
}
.header-top .top-sec {
  width: 100%;
  padding-top: 15px;
}
.header-top .top-sec ul {
  list-style: none;
  padding-left: 0;
  width: 25%;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.header-top .top-sec ul li {
  margin: 0;
  line-height: normal;
  width: 100%;
}
.header-top .top-sec ul li strong {
  font-style: italic;
  color: #10b158;
  margin-right: 10px;
}
.header-top .top-sec ul li b {
  color: #10b158;
  margin-right: 10px;
}
.header-top .top-sec ul:last-child {
  float: right;
  width: auto;
}
.middle-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 25spx;
}
.middle-sec ul {
  width: 33.33%;
  float: left;
  padding: 0;
}
.middle-sec ul li {
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  line-height: normal;
  position: relative;
}
.middle-sec ul li span {
  width: 100%;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  background-color: #10b158;
  padding: 3px 0 4px 5px;
  line-height: normal;
}
.middle-sec ul li strong {
  font-weight: bold;
  color: #000;
  font-style: normal;
  font-size: 10pt;
  font-style: italic;
  padding-left: 5px;
  width: 120px;
  display: inline-block;
}
.middle-sec ul li b {
  position: absolute;
  font-weight: normal;
  top: 0;
  bottom: 0;
  font-size: 11px;
}
.consumer-part {
  width: 100%;
  /* display: inline-block; */
}
.consumer-part h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 25spx;
}
.consumer-part .table .thead-dark th {
  background-color: #10b158;
  text-align: left;
}
.consumer-part .table td,
.table th {
  padding: 0.4rem;
}
.consumer-part.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.consumer-part tbody {
  border: solid 1px #dee2e6;
}
.equifax-sec {
  width: 100%;
}
.equifax-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 25spx;
}
.equifax-sec .table .thead-dark th {
  background-color: #10b158;
  text-align: left;
}
.equifax-sec .table td,
.table th {
  padding: 0.4rem;
  border-top: none;
}
.equifax-sec tbody {
  border: 1px solid #dee2e6;
}
.recent-sec {
  width: 100%;
}
.recent-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
}
.recent-sec .table .thead-dark th {
  background-color: #10b158;
}
.recent-sec tbody {
  border: 1px solid #dee2e6;
}
.recent-sec .table td span {
  font-style: italic;
}
.summary-sec {
  width: 100%;
}
.summary-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
}
.summary-sec h3 {
  display: inline-block;
  background-color: #10b158;
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 0.4rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
.summary-sec ul {
  list-style-type: none;
  padding: 10px;
  margin: 0 0 20px 0;
  border: 1px solid #dee2e6;
}
.summary-sec ul li {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 4px;
}
.summary-sec ul li span {
  font-style: italic;
  width: 213px;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  font-size: 14px;
}
.summary-sec ul li b {
  width: 155px;
  display: inline-block;
}
.summary-sec ul li span {
  font-style: italic;
  width: 213px;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  font-size: 14px;
}
.summary-sec ul li b {
  width: 155px;
  display: inline-block;
}
.summary-sec .table .thead-dark th {
  background-color: #10b158;
}
.summary-sec .table td span {
  font-style: italic;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  word-break: break-word;
}
.summary-sec .table td b {
  width: 125px;
  display: inline-block;
  word-break: break-word;
}
.summary-sec tbody {
  border: solid 1px #dee2e6;
  padding: 15px;
}
.summary-sec .table td {
  word-break: break-all;
}
.account-details-sec {
  width: 100%;
  /* display: inline-block; */
}
.account-details-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
}

.account-details-sec .table .thead-dark th {
  background-color: #10b158;
}
.account-details-sec tbody {
  border: solid 1px #dee2e6;
  /* padding: 15px; */
}
.account-details-sec .table td {
  border: none;
  padding: 0.15rem 0.75rem;
  font-size: 13px;
}
.account-details-sec .history-sec tbody {
  border: none;
  /* border-right: solid 1px #dee2e6; */
}
.account-details-sec .account-small strong {
  font-size: 12px;
  max-width: 100px;
}
.account-details-sec .account-part {
  width: 100%;
}
.account-details-sec .history-sec td {
  padding-left: 0;
  padding-right: 0;
}
.account-details-sec .history-monthly tbody {
  border: none;
}
.account-details-sec .monthly-sec {
  margin-bottom: 0;
}

.account-details-sec .monthly-sec td {
  padding: 0 3px;
  font-size: 11px;
  text-align: center;
}
.enquiry-sec {
  width: 100%;
}

.enquiry-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
}
.enquiry-sec .table .thead-dark th {
  background-color: #10b158;
}
.enquiry-sec .table td,
.table th {
  padding: 0.4rem;
  text-align: center;
}
.enquiry-sec.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.enquiry-sec tbody {
  border: solid 1px #dee2e6;
}
.last-table .table th {
  text-align: left;
}
.last-table .table td {
  text-align: left;
}
.last-table td {
  width: 33%;
  text-align: left;
}
.glossary-part {
  width: 100%;
}
.glossary-part h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
}
.glossary-part .table .thead-dark th {
  background-color: #10b158;
  width: 50%;
  text-align: left;
}
.glossary-part .table td {
  text-align: left;
}
.glossary-part tbody {
  border: solid 1px #dee2e6;
}
.glossary-part .table .thead-dark th:first-child {
  width: 15%;
}
.glossary-part .table {
  width: 50%;
  max-width: 50%;
}

.fixedStyleHistory {
  width: 40px;
  /* display: inline-block; */
}
.consumer-part .consumer-half {
  width: 300px;
  /* display: inline-block; */
}
.enquiry-sec strong {
  width: 195px;
  display: inline-block;
  vertical-align: top;
  word-break: break-all;
}
.glossary-part .table td {
  padding: 3px;
  font-size: 12px;
}
.account-details-sec .history-monthly {
  margin-bottom: 0;
}
.history-monthly td {
  width: 54px;
  float: left;
  text-align: center !important;
  vertical-align: bottom;
  padding: 2px 0.3rem !important;
}
.account-details-sec .monthly-sec tbody {
  border: none;
}
.borrower-table-sec th {
  border: solid 1px #dee2e6 !important;
  text-align: center !important;
}
.borrower-table-sec th:first-child {
  text-align: left !important;
}
.borrower-table-sec td {
  text-align: left !important;
}

.borrower-table-sec td:first-child {
  text-align: left !important;
}
