@charset "UTF-8";

@page :first {
  background-size: cover;
  margin: 0;
}

@page chapter {
  background: #fbc847;
  margin: 0;
  @top-left {
    content: none;
  }
  @top-center {
    content: none;
  }
  @top-right {
    content: none;
  }
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  /* ... the rest of the rules ... */
}

html {
  color: #393939;
  font-family: Fira Sans;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.5;
  overflow-x: hidden;
}
html body h1 {
  color: #fbc847;
  font-size: 38pt;
  margin: 0;
  page: no-chapter;
  width: 100%;
}
html body h2,
html body h3,
html body h4 {
  color: black;
  font-weight: 400;
}
html body h2 {
  break-before: always;
  font-size: 28pt;
  string-set: heading content();
}
html body h3 {
  font-weight: 300;
  font-size: 15pt;
}
html body h4 {
  font-size: 13pt;
}

html body hr {
  border-bottom: solid 2px #10b158;
  width: 100%;
  border-top: none;
  margin-bottom: 30px;
  margin-top: 20px;
}

html body article {
  padding: 50px;
}

html body article .header-top {
  width: 100%;
  display: inline-block;
  position: relative;
  overflow-x: hidden;
}

html body article .header-top h1 {
  position: absolute;
  text-align: center;
  color: #10b158;
  top: -15px;
}

html body article .header-top .logo {
  text-align: left;
  position: relative;
  z-index: 9999;
}

html body article .header-top .top-sec {
  width: 100%;
  padding-top: 15px;
}

html body article .header-top .top-sec ul {
  list-style: none;
  padding-left: 0;
  width: 49%;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

html body article .header-top .top-sec ul li {
  margin: 0;
  line-height: normal;
  width: 100%;
}

html body article .header-top .top-sec ul li strong {
  font-style: italic;
  color: #10b158;
  margin-right: 10px;
}

html body article .header-top .top-sec ul:last-child {
  float: right;
  width: auto;
}

html body article#cover {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  /* height: 297mm; */
  position: relative;
  overflow: hidden;
}

html body article#cover .middle-sec {
  display: inline-block;
}

html body article#cover .middle-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 25spx;
}

html body article#cover .middle-sec ul {
  width: 33.33%;
  float: left;
  padding: 0;
}

html body article#cover .middle-sec ul li {
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
  line-height: normal;
  position: relative;
}

html body article#cover .middle-sec ul li span {
  width: 100%;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  background-color: #10b158;
  padding: 3px 0 4px 5px;
  line-height: normal;
}

html body article#cover .middle-sec ul li strong {
  font-weight: bold;
  color: #000;
  font-style: normal;
  font-size: 10pt;
  font-style: italic;
  padding-left: 5px;
  width: 120px;
  display: inline-block;
}

html body article#cover .middle-sec ul li b {
  position: absolute;
  font-weight: normal;
  top: 0;
  bottom: 0;
  font-size: 11px;
}

html body article#cover .consumer-part {
  width: 100%;
  display: inline-block;
}

html body article#cover .consumer-part h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 25spx;
}

html body article#cover .consumer-part .table .thead-dark th {
  background-color: #10b158;
  text-align: left;
}

html body article#cover .consumer-part .table td,
.table th {
  padding: 0.4rem;
}

html body article#cover .consumer-part.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

html body article#cover .consumer-part tbody {
  border: solid 1px #dee2e6;
}

html body article#cover .equifax-sec {
  width: 100%;
}

html body article#cover .equifax-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 25spx;
}

html body article#cover .equifax-sec .table .thead-dark th {
  background-color: #10b158;
  text-align: left;
}

html body article#cover .equifax-sec .table td,
.table th {
  padding: 0.4rem;
  border-top: none;
}

html body article#cover .equifax-sec tbody {
  border: 1px solid #dee2e6;
}

html body article#cover .recent-sec {
  width: 100%;
}

html body article#cover .recent-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
}

html body article#cover .recent-sec .table .thead-dark th {
  background-color: #10b158;
}

html body article#cover .recent-sec tbody {
  border: 1px solid #dee2e6;
}

html body article#cover .recent-sec .table td span {
  font-style: italic;
}

html body .footer-sec {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
}

html body article#contents {
  break-before: right;
  break-after: left;
  page: no-chapter;
  overflow: hidden;
  position: relative;
}

html body article#contents h2 {
  font-size: 20pt;
  font-weight: 400;
  margin-bottom: 3cm;
}

html body article#contents ul {
  list-style: none;
  padding-left: 0;
}

html body article#contents .summary-sec {
  width: 100%;
}

html body article#contents .summary-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
}

html body article#contents .summary-sec h3 {
  display: inline-block;
  background-color: #10b158;
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 0.4rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

html body article#contents .summary-sec ul {
  list-style-type: none;
  padding: 10px;
  margin: 0 0 20px 0;
  border: 1px solid #dee2e6;
}

html body article#contents .summary-sec ul li {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 4px;
}

html body article#contents .summary-sec ul li span {
  font-style: italic;
  width: 213px;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  font-size: 14px;
}

html body article#contents .summary-sec ul li b {
  width: 155px;
  display: inline-block;
}

html body article#contents .summary-sec ul li span {
  font-style: italic;
  width: 213px;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
  font-size: 14px;
}

html body article#contents .summary-sec ul li b {
  width: 155px;
  display: inline-block;
}

html body article#contents .summary-sec .table .thead-dark th {
  background-color: #10b158;
}

html body article#contents .summary-sec .table td span {
  font-style: italic;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  word-break: break-word;
}

html body article#contents .summary-sec .table td b {
  width: 125px;
  display: inline-block;
  word-break: break-word;
}

html body article#contents .summary-sec tbody {
  border: solid 1px #dee2e6;
  padding: 15px;
}

html body article#contents .summary-sec .table td {
  word-break: break-all;
}

html body article#contents .account-details-sec {
  width: 100%;
  display: inline-block;
}

html body article#contents .account-details-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
}

html body article#contents .account-details-sec .table .thead-dark th {
  background-color: #10b158;
}

html body article#contents .account-details-sec tbody {
  border: solid 1px #dee2e6;
  padding: 15px;
}

html body article#contents .account-details-sec .table td {
  border: none;
  padding: 0.15rem 0.75rem;
}

html body article#contents .account-details-sec .history-sec tbody {
  border: none;
  border-right: solid 1px #dee2e6;
}

html body article#contents .account-details-sec .account-small strong {
  font-size: 13px;
}

html body article#contents .account-details-sec .account-part {
  width: 100%;
}

html body article#contents .account-details-sec .history-sec td {
  padding-left: 0;
  padding-right: 0;
}

html body article#contents .account-details-sec .history-monthly tbody {
  border: none;
}
html body article#contents .account-details-sec .monthly-sec {
  margin-bottom: 0;
}

html body article#contents .account-details-sec .monthly-sec td {
  padding: 0 3px;
  font-size: 11px;
  text-align: center;
}

html
  body
  article#contents
  .account-details-sec
  .account-part.account-second-part {
  background-color: #eeeeee;
}

html
  body
  article#contents
  .account-details-sec
  .account-part.account-second-part
  .table
  .table {
  background-color: transparent;
}

html body article#columns {
  break-before: right;
  break-after: left;
  page: no-chapter;
  overflow: hidden;
  position: relative;
}

html body article#columns .enquiry-sec {
  width: 100%;
}

html body article#columns .enquiry-sec h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
}

html body article#columns .enquiry-sec .table .thead-dark th {
  background-color: #10b158;
}

html body article#columns .enquiry-sec .table td,
.table th {
  padding: 0.4rem;
  text-align: center;
}

html body article#columns .enquiry-sec.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

html body article#columns .enquiry-sec tbody {
  border: solid 1px #dee2e6;
}

html body article#columns .last-table .table th {
  text-align: left;
}

html body article#columns .last-table .table td {
  text-align: left;
}

html body article#columns .last-table td {
  width: 33%;
  text-align: left;
}

html body article#columns section {
  columns: 2;
  column-gap: 1cm;
  padding-top: 1cm;
}
html body article#columns section p {
  text-align: justify;
}
html body article#columns section p:first-of-type {
  font-weight: 700;
}

html body article#competences {
  break-before: right;
  break-after: left;
  page: no-chapter;
  overflow: hidden;
  position: relative;
}

html body article#competences h3 {
  background: #fbc847;
  margin: 0 -3cm 1cm;
  padding: 1cm 1cm 1cm 3cm;
  width: 21cm;
}
html body article#competences section {
  padding: 0.5cm 0;
}

html body article#competences .glossary-part {
  width: 100%;
}

html body article#competences .glossary-part h2 {
  display: inline-block;
  font-size: 22px;
  color: #10b158;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
}

html body article#competences .glossary-part .table .thead-dark th {
  background-color: #10b158;
  width: 50%;
  text-align: left;
}
html body article#competences .glossary-part .table td {
  text-align: left;
}

html body article#competences .glossary-part tbody {
  border: solid 1px #dee2e6;
}

html body article#competences .glossary-part .table .thead-dark th:first-child {
  width: 15%;
}

html body article#competences .glossary-part .table {
  width: 50%;
  max-width: 50%;
}

html body article#offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
html body article#offers h2,
html body article#offers h3 {
  width: 100%;
}
html body article#offers section {
  width: 30%;
}
html body article#offers section h4 {
  margin-bottom: 0;
}
html body article#offers section ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
html body article#offers section ul li:not(:last-of-type) {
  margin: 0.5cm 0;
}
html body article#offers section p {
  background: #fbc847;
  display: block;
  font-size: 15pt;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0.25cm 0;
  text-align: center;
}
